body {
    background-color: #F3F2EF;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-background {
    background-color: white;

}




.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 0.4rem;
    /* height: 227px; */
}

.card-main-title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
font-weight: 700;
font-size: 28px;
}
.card-title-section{
    margin-right: 20px;
}
.card-title-company{
    font-family: 'Lato', sans-serif;
    font-style: normal;
/* font-weight: 700; */
font-size: 21px;
}
.card-title-location{
    font-family: 'Lato', sans-serif;
font-weight: 300;

    font-size: 21px;
}
.card-title-salary{
    font-family: 'Lato', sans-serif;
    font-style: bold;
font-weight: 700;
font-size: 28px;
margin-bottom: 0.25rem! important;
}
.right-Card {
height: 75px;
}
.card-header {
    background-color: #fff;
}



.btn-primary {
    width: 100%;
    background-color: #0A66C2;
}

.btn-primary-outline {
    width: 100%;
    border: 1.5px solid #0A66C2;
    color: #0A66C2;
}
.btn-primary-outline-viewDetails {
    width: 100%;
    border: 1.5px solid #0A66C2;
    color: #0A66C2;
}



.btn-applied {
    width: 100%;
    width:141px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Lato';
    font-weight: 700;

    /* background-color: white; */
    color: #7FBA00;
}



.nav-link-selected {
    color: #666666;
}
.form-control {
    background-color: #EFF3F8! important;
}
.p-3 {
    padding: 0! important;
}
.logo-margin {
margin-right: 21px;
}
.searchBarCustomize{
   width: 300px;
}
.me-lg-3{
    margin-right: 20px! important;
}
.navbar-options{
    margin-right: 15px;
}
.navbar-final-options{
margin-right: 10px! important;
}
.d-blocks {
    display: initial;
}
.bold {
    font-weight: bold;
}


.similar-card {
    background-color: #EFF3F8;
    padding: 10px;
}


p {
    margin-bottom:0! important;
}

.badge-secondary{
    background-color: #E1ECF8;
    margin-left: 24px;
    color: black;
}
.cardOptionButtons {
    width:141px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.test {
    float: right! important;

}
.buttonOrder{
    display: grid;
}
.buttonContainer {
    float: right;
    margin-top: -18%;
}
.applyButton {
    margin-left: 5px;
}
.applyButtonLeft {
    margin-right: 5px;
}
.saveButton {
    margin-right: 5px;
    margin-top: -1px;
}
.datePosted {
    color: #999;
}
.imagePostionCard{
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}

.card-title {
    margin-top: 10px;
}
.leftSide {
    float: left;
    margin-right: 15px;
}
.bannerBackground {
    background-color: #F9C073! important;
    margin-bottom: -1px! important;
    border-radius: 0px! important;
}
.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .logoFooterLeft {
margin-right: 10px;
  }
  .my-4 {
    margin-bottom: 0! important;
}

  footer {
    width: 100%! important;
    background-color: white;

  }
 /* Job Details */
 .additional-padding {
    padding: 20px;
 }
 .jobActiveTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
 }
 .rows { 
     width: 50%;
 }
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .margin-tops {
    margin-top: 5rem!important;
  }
  .margin-tops-2 {
    margin-top: 8rem!important;
  }
  .alert-dismissible {
      padding-right: 0!important;
  }

  .card-details-salary {
    font-family: 'Lato', sans-serif;
    font-style: bold;
font-weight: 700;
font-size: 21px;
margin-bottom: 0.25rem! important;
margin-top: 13px;
}
.card-details-job-location {
    font-family: 'Lato', sans-serif;
    /* font-style: thin; */
font-weight: 300;
font-size: 18px;
margin-bottom: 0.25rem! important;
margin-left: 10px;
}
h4 {
    font-family: 'Lato', sans-serif;
    /* font-style: thin; */
font-weight: 600;
font-size: 18px;
}
.job-description-title {
    /* float: left; */
    width: 15%;
    display: inline-block;
    text-align: right;

}
.job-description {
    float: right;
    width: 80%;
    display: inline-block;

}

.list-style-details {
    padding-left:0rem;
    list-style-type: none;
    width: 80%;
    float: right;
    margin-top: 20px;
}

  .divider-for-jobs {
      background-color: #D9D9D9;
      height: 1px;
      width: 90%! important;
      margin: auto;

  }
  .card-details-resume-insight {
      margin-top: 21px;
    font-family: 'Lato', sans-serif;
    /* font-style: thin; */
font-weight: 700;
font-size: 36px;
}
.progress {
    height: 8px;
}
.status-Padding {
    margin-top: 42px;
}
.status-suggested-skills {
    margin-top: 21px;
}
.btn-light {
    border: 1.5px solid black;
background-color: transparent! important;
border-radius: 20px;
margin-right: 8px;
margin-top: 15px;

}
.skillsButton {
    margin-right: 5px;
    margin-bottom: 2px;
}
.cardOptionViewMore {
    width:174px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;

}
.resourcesDiv {
    display: inline-block;
    width: 100%;
    border-radius: 6px;
}
.cardResources {
    width: 33%;
}
.imagePostionCardResource {
    float: left;
    margin-right: 10px;

}



.resourcesDivider {
    background-color: #F0F4F8;
    padding: 10px;
    border-radius: 6px;
    width: 22%;
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
}
.resourcesDivImage {
margin-right: 15px;
float: left;
height: 32px;
width: 32px;
}
.containResources {
    display: inline-block;
    text-align: center;
}
.resourcesText {
text-align: left;
}
.buttonDiv{
    text-align: right;
}
.modal-body {
    text-align: center;
}
.modalStyle {
    margin-bottom: 16px;

}
.modalParagraph {
    font-family: 'Lato', sans-serif;
    /* font-style: thin; */
font-weight: 700;
font-size: 21px;
}
.jobProgress {
    float: right;
    width: 80%;
    display: inline-block;
    height: 17px;
}
.bg-success {
    background-color: #7FBA00! important;
}
.whereAmIInStatus {
    width: 100%;
    margin-top: 30px;
}
.statusImage {
    margin-left: 23.5%;
}

.statusOtherImage {
    margin-left: 13.5%;
}
.statusOtherImage1 {
    margin-left: 12%;
}
.statusOtherImage2 {
    margin-left: 13%;
}
.statusImageDenied {
    float: right;
    margin-right: 55px;
}
.bg-danger {
    background-color: #F44E24;
}
.appiedBarText {
    margin-left: 21%;
    margin-top: -26px;
    margin-bottom: 30px! important;
}

.appiedBarTextOptions1 {
    margin-left: 34%;
    margin-top: -54px;
    margin-bottom: 30px! important;
}
.appiedBarTextOptions2 {
    margin-left: 54%;
    margin-top: -54px;
    margin-bottom: 30px! important;
}
.appiedBarTextOptions3 {
    margin-left: 71%;
    margin-top: -54px;
    margin-bottom: 30px! important;
}
.appiedBarTextOptions4 {
    margin-left: 90%;
    margin-top: -54px;
    margin-bottom: 30px! important;
}
.appiedBarTextOptions5 {
    margin-left: 90%;
    margin-top: -54px;
    margin-bottom: 30px! important;
}



.appiedBarTextDenied {
    margin-top: -57px;
    float: right;
}
.radioButtons {
    display: flex;
}
.form-check-2 {
    margin-left: 5%;
}




/* Hover states */
.cardOptionButtons:hover {
    background-color: #18407E;
}


/* .btn-primary-outline-viewDetails:hover {
    background-color: #E5F1FC! important;
    border: 3px solid #2D63BD;
color: #0A66C2;
} */
.btn-applied:hover {
    border:none! important;

}
.btn-applied:active {
    border:none! important;

}
.btn-applied:focus {
    border:none! important;

}
.btn-primary-outline:hover {
    background-color: #E5F1FC! important;
    border: 3px solid #2D63BD;
color: #0A66C2;
}

